@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!!</h1>
    <p> 見てみて！ <a href="https://twitter.com/ITI0820"target="_blank">ツイッターだよ！</a>.</p>
</div>
