@page
@model PrivacyModel
@{
    ViewData["Title"] = "Self-introduction";
}
<h1>@ViewData["Title"]</h1>

<p>林壱仁だよ！！何と十六歳！北九州高専の二年生だよ！！</p>
<p>好きなのはゲームと読書だよ！！ゲームだったらゼノブレイド！作家だったら西尾維新さんとかが好きだよ！！</p>
<p>誕生日は8月20日！ちょうどテスト返しが終わりそうな時期だから誕生日プレゼントが赤点になることがあるよ！悲しいね！</p>